<!doctype html>
<html>
<head>
	<title>Rshell.sh</title>

	<meta name="description" content="Reverse Shell Payload Generator">
	<meta name="keywords" content="reverse shell payload generator api hax-as-a-service">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	
	{% block head %}{% endblock %}

	<style>
	body {
		background-color: black;
	 	color: white;
	}
	</style>
</head>

<body>
<script>
var loc = window.location.href+'';
if (loc.indexOf('http://')==0){
    window.location.href = loc.replace('http://','https://');
}
</script>
	{% block body %}{% endblock %}
</body>
</html>
